

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    scroll-snap-align: center;
    scroll-behavior: smooth;
}
.main{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    scroll-behavior: smooth;
}

/* #one{
    background-color: rgba(0, 128, 0, 0.571);
}
#two{
    background-color: rgba(0, 0, 255, 0.543);
}
#three{
    background-color: rgba(255, 255, 0, 0.534)
}
#four{
    background-color: rgba(255, 0, 0, 0.543)
} */


body{
    background-image: url('./assets/Best/bgmain.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: 75%;
    margin: 0;
}

.img-cont{
    width: 60vw;
    height: fit-content;
    overflow: hidden;
}

.main-img{
    width: 60vw;
    
    border-radius: 0.5vw;
}

#zero{
    height: 75vh;
}

#img17{
    transform: scale(0.7);
}

#zero,#one,#two {
    opacity: 0;
}

